/build/
out/
*/build/
.gradle

**/.idea/workspace.xml
**/.idea/modules.xml
**/.idea/misc.xml
**/.idea/gradle.xml
**/.idea/uiDesigner.xml
**/.idea/kotlinc.xml
**/.idea/dataSources.local.xml
**/.idea/shelf/
**/.idea/libraries/
**/.idea/modules/
**/.idea/dataSources*
**/.idea/.name
**/.idea/*.png

**/*.iml
**/.rakeTasks
arg_scanner/arg_scanner.iml
